# Maven
target/
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Ignore spring-cloud-demo-config directory
spring-cloud-demo-config/ 